@import './../../Theme.scss';

.passwordContainer {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.Password {
    width: 400px;
    height: 48px;
    border-radius: 6px;
    border-width: 1px;
    border-color: $colorLightGrey;
    border-style: solid;
  }

  .EyeIcon {
    cursor: pointer;
    margin-left: -30px;
  }

  .EyeIconActive {
    cursor: pointer;
    margin-left: -30px;
    filter: invert(6%) sepia(99%) saturate(74391%) hue-rotate(247deg) brightness(123%) contrast(138%);
  }