
@import './../../Theme.scss';

.LoginFormContainer {
  width: 400px;
}

.BottomText {
  width: 400px;
  height: 15px;
}

.HelpText {
  font-weight: 700;
  font-size: 30px;
  padding: 70px 0 40px;
}

.LoginButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ForgotEmail {
  color: blue;
  text-align: right;
  cursor: pointer;
}

.InputHelpText {
  text-align: left;
}