@import '@/Theme.scss';

.simpleButton {
  cursor: pointer;
  width: 400px;
  height: 48px;
  color: $colorBlack;
  border-radius: 6px;
  border-width: 1px;
  background-color: $colorWhite;
  border-color: $colorLightGrey;
  font-size: 16px;
  border-style: solid;
  font-weight: 500;

  &:active {
    background-color: darken($colorWhite, 10);
  }
}
